/* Thêm vào file CSS hoặc module CSS của bạn */

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  bottom: 0;
  margin: 0;
}

.content {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  padding: 30px;
  border-radius: 8px;
  background-color: #222831;
  width: 100%;
  color: white;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col {
  flex: 1;
  padding: 20px;
}

.linkBox {
  text-transform: capitalize;
  padding: 20px;
}

.linkBoxTitle {
  font-size: 22px;
  line-height: 1.5;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  margin-bottom: 10px;
}

.linkBoxLink {
  font-size: 17px;
  line-height: 1.2;
  font-family: "Roboto", sans-serif;
  color: #84849d;
  margin-bottom: 10px;
  cursor: pointer;
  transition: 300ms all ease-in-out;

  &:hover {
    color: #ffffff;
  }
}

.linkBoxSubscribeDescription {
  font-size: 16px;
  line-height: 1.5;
  margin-top: 20px;
  font-family: "Roboto", sans-serif;
  color: #84849d;
}

.privacyBox,
.socialMediaBox {
  font-size: 14px;
  color: #84849d;
  margin-top: 0px;
}

.seprator {
  background: var(--seprator-color);
  height: 1px;
  margin: 30px 0;
}

.inputBox {
  display: flex;
  align-items: center;
  border: 1px solid #84849d;
  padding: 10px;
  margin-top: 20px;
  width: 100%;
  border-radius: 5px;

  input {
    flex: 1;
    border: none;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    outline: none;

    &::placeholder {
      color: #84849d;
    }
  }
}

.subscribeButton {
  margin-top: 20px;
  margin-left: 50px;
  margin-bottom: 20px;
  color: white;
  width: 100%;
  text-align: center;
  background: linear-gradient(to right, #8bcdff, #6487ff);
  padding: 10px;
  border-radius: 5px;
  outline: none;
  border: none;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
}

@media (max-width: 768px) {
  .content {
    padding: 20px;
  }
}
