.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  bottom: 0;
  margin: 0;
}

.content {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  padding: 30px;
  border-radius: 8px;
  background-color: #222831;
  background-image: linear-gradient(#222831);
  width: 100%;
  color: white;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col {
  flex: 1;
  padding: 20px; /* Thêm padding cho cột */
}

.linkBox{
  text-transform: capitalize;
  padding: 20px; /* Thêm padding cho link-box */
}

.linkBoxTitle{
  
  font-size: 22px; /* Tăng kích thước font chữ */
  line-height: 1.5; /* Khoảng cách dòng */
  font-family: "Roboto", sans-serif;
  color: var(--link-color);
  margin-bottom: 10px;
}

.linkBoxLink{
  font-size: 17px; /* Giảm kích thước font chữ */
  line-height: 1.2; /* Khoảng cách dòng */
  font-family: "Roboto", sans-serif;
  color: var(--link-color);
  margin-bottom: 10px;
  cursor: pointer;
  transition: 300ms all ease-in-out;

  &:hover {
    color: #ffffff; /* Thay đổi màu chữ khi hover */
  }
}

.linkBoxSubscribeDescription {
  font-size: 16px;
  line-height: 1.5;
  margin-top: 20px;
  font-family: "Roboto", sans-serif;
}

.privacyBox,
.socialMediaBox {
  color: #84849d;
  font-size: 14px;
  margin-top: 0px;
  
}

.seprator {
  background: var(--seprator-color);
  height: 1px;
  margin: 30px 0;
}

.inputBox {
  border: 1px solid var(--input-border-color);
  padding: 10px;
  margin-top: 20px;
  width: 100%;
  border-radius: 5px;
  display: flex;
  align-items: center;
  
  

  svg {
    margin-top: 3px;
    margin-right: 0px;
    width: 0;
  }

  input {
    flex: 1;
    border: none;
    padding: 5px;
    font-size: 16px;
    border-radius: 5px;
    outline: none;
    margin-right: 10px;
    

    &::placeholder {
      font-size: 16px;
    }
  }
}

.subscribeButton {
  margin-top: 20px;
  color: white;
  width: 100%;
  text-align: center;
  background: linear-gradient(to right, #8bcdff, #6487ff);
  padding: 15px;
  border-radius: 5px;
  outline: none;
  border: none;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
}

@media (max-width: 768px) {
  .content {
    padding: 20px;
  }
}
